#EDA= Exploratory Data Analysis - Llamadas 123 Julio

In [2]:
#Importar librerias de manipulacion de datos
import pandas as pd
import numpy as np

#IMportar librerias del sistema
import os
from pathlib import Path

In [3]:
root_dir =Path(".").resolve().parent #retornamos a la variable parte de la ruta
filename="llamadas123_julio_2022.csv"
datadir="raw"

In [39]:
filepath=os.path.join(root_dir, "data",datadir,filename) #se construye la ruta donde esta el archivo
print(filepath)

C:\Users\ADRIA\OneDrive\Documentos\BIGDATA\data\raw\llamadas123_julio_2022.csv

In [8]:
data = pd.read_csv(filepath, encoding='latin-1',sep=';') #leemos el archivo

In [9]:
data.head() #previsualiza la data

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [11]:
data.shape #retorna una tupla con las dimensiones de la tabla (n_rows,n_cols)

(13055, 11)

In [12]:
data.dtypes #nos retorna los tipos de datos que tenemos en el archivo

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [18]:
#extraer los valores unicos de las columnas para identificar los tipos de datos que hay por columna

col='GENERO'
valores_unicos=data[col].unique()
len(valores_unicos)

3

In [19]:
valores_unicos

array(['FEMENINO', 'MASCULINO', 'SIN_DATO'], dtype=object)

In [32]:
dic_resume = dict()
for col in data.columns:
    valores_unicos =data[col].unique()
    n_valores = len(valores_unicos)
   #print(col, n_valores)
    dic_resume[col]= n_valores

In [37]:
df_resumen=pd.DataFrame.from_dict(dic_resume,orient='index')
df_resumen.rename({0:'Count'}, axis=1, inplace=True) # se modifica el diccionario el valor de cero, axis =1 son las columnas
#inplace true es para que el cambio lo haga en la misma columna y no en otra
df_resumen

                                   Count
NUMERO_INCIDENTE                   12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL  12781
CODIGO_LOCALIDAD                      20
LOCALIDAD                             20
EDAD                                 100
UNIDAD                                 6
GENERO                                 3
RED                                    5
TIPO_INCIDENTE                        21
PRIORIDAD                              4
RECEPCION                           5235

In [42]:
#guardamos la tabla
out_name='resumen_' + filename
out_path = os.path.join(root_dir,"Data", "Processed",out_name)
print(out_path)
df_resumen.to_csv(out_path)

C:\Users\ADRIA\OneDrive\Documentos\BIGDATA\Data\Processed\resumen_llamadas123_julio_2022.csv